#legend {
  background-color: #ffffff;
  border-radius: 3px;
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.1);
  font: 15px/30px 'Helvetica Neue', Arial, Helvetica, sans-serif;
  padding: 5px;
  z-index: 1;
  width: fit-content;
  height: fit-content;
  position: absolute;
  bottom:5%;
  left: 83.5%;
  }
  
  #legend h4 {
  margin: 0 0 10px;
  }
  
  #legend hr {
    width: 16px;
    transform: rotate(45deg);
    float: left;
    margin-right: 10px
  }
  
  #legend ul{
    list-style-type: none;
    padding: 0;
    margin: 0;
  }
  
  .class1 {
    border-top: 3px solid red;
  }
  .class2 {
    border-top: 3px solid orange
  }
  
  .class3{
    border-top: 3px solid yellow
  }

  .class4{
    border-top: 3px solid lightgreen
  }

   .class5{
    border-top: 3px solid green
  }

  .else{
    border-top: 3px solid purple;
  }

  .stateboundary{
    border-top: 4px solid darkblue;
    opacity: .6
  }

  .npsboundary{
    border-top: 4px solid maroon;
    opacity: .6
  }

  .usfsboundary{
    border-top: 4px solid lime;
    opacity: .6
  }